.card {
  @apply mt-4 shadow-lg w-full flex justify-center flex-wrap mx-2 rounded border border-transparent;
  max-width: 300px;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #BAF018;
  border-radius: 50%;
  display: inline-block;
}

.inactiveDot {
  height: 20px;
  width: 20px;
  background-color: #F01818;
  border-radius: 50%;
  display: inline-block;
}

.imageWrapper {
  @apply relative bg-gray-light bg-no-repeat h-0 w-full;
  padding-bottom: 55.90666%; /* Padding bottom hack https://www.andyshora.com/css-image-container-padding-hack.html */
}
